 <h1>Convert <%= @curr %></h1>

<p>Go <a href="/">back</a>.</p>


<ul>
    
    <% @generate.each do |element| %>
  <li>
      <a href="/<%= @curr %>/<%= element %>">
        Convert 1 <%= @curr %> to <%= element %>...
      </a>
    </li>
 <% end %>


</ul>
