 <h1>Convert <%= @curr %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
 
<%@generate["symbols"].each do |currency_code, currency_data|%>
 <%code = currency_data["code"]%>
  
   <li>
      <a href="/<%= @curr %>/<%= code %>">
        Convert 1 <%= @curr %> to <%= code %>...
      </a>
    </li>

 <% end %>


</ul>
